# Dependências
/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
#.env
#.env.local
#.env.development.local
#.env.test.local
#.env.production.local

# Build
/dist
/build
/.cache

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.swp

# Cobertura de testes
/coverage

# Arquivos temporários
*.tmp
*.temp

# Lock files (se não quiser versionar todos)
package-lock.json
yarn.lock
pnpm-lock.yaml
gcp-key.json
# .gitignore
venv/
venv_arcface/
__pycache__/
*.pyc
.env
node_modules/
arcface_embeddings.db
model_keras.h5
*.bin